/* This CSS file contains styles for seeQueries page */
table{margin:auto; margin-top:50px;}

/* Table headers */
tr.header{color:#715C8C;}

/* Table rows */
td{color:black; width:200px; padding:30px;}

/* Table row Header */
td.queryHeading{font-weight: bold;}
td.queryDesc {width:40%; text-align: left; padding-left: 100px;}
.desc{text-align: left; padding-left: 100px;}

/* Open Query -button on each row */
.openQuery{
	border: none;
	padding: 5px;
	margin-right:20px;
	border-radius:5px;
	background-color:#715C8C; 
	color: white;
    text-decoration: none;
}
.openQuery:hover{
	color:black;
}

